:root {
  font-family: 'Fira Code', monospace;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary: #09026d;
  --secondary: #0F3460;
  --terceary: #8f0606;
  --red: #1c20f7;
  --soft-white: #f1f1f1;
  --white: #797878;
  --black: #111;
  --gray: #222222;

  background-color: var(--black);
  color: var(--soft-white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa a tela toda */
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
